<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="onItemAdd(f)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input class="form-control"
                 id="name"
                 name="name"
                 ngModel
                 required type="text">
        </div>

        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input class="form-control"
                 id="amount"
                 min="1"
                 name="amount"
                 ngModel
                 required type="number">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-xs-12">
          <button [disabled]="f.form.invalid"
                  class="btn btn-sm btn-success"
                  type="submit">
            {{ isEditModeEnabled ? "Update" : "Add" }}
          </button>
          <button (click)="onDelete()"
                  *ngIf="isEditModeEnabled"
                  class="btn btn-sm btn-danger ms-2"
                  type="button">Delete
          </button>
          <button (click)="onClear()"
                  [disabled]="!(f.dirty || isEditModeEnabled)"
                  class="btn btn-sm btn-primary ms-2"
                  type="button">Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
